
button {
    width: 280px;
    height: 45px;
    border-radius: 50px;
    border: none;
    background-color: rgba(11, 139, 214, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 4px;
    cursor:pointer;
  }


